	 .container {
				background-color: #f6f1f4;
			   height: calc(100vh - 60px);
			   width: auto;
			   	overflow: scroll;
				width: 100%;
			} 
			.header1 {
				position: fixed;
				height: 22px;
				width: 100%;
				background: linear-gradient(white 50%, #fafafa);
				padding: 20px;
				text-align: center;
			}
			.he21 {
				position: relative;
				top: -2px;
				float: left;
				margin-left: px;
			}
			.he2 {
				position: relative;
				top: -6px;
				left: -75px;
			}
			.g {
			/* 	border: 1px solid red; */
				height: 100px;
				width: 200px;
				float: right;
				margin-right: 10px;
				margin-top: -30px;
			}
